.idea
.DS_Store
uploads/*
#Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/api/routes/bp-upload/uploads/
server/public/js/bundles/
server/public/bundles/*
server/uploads/

#Runtimedata
pids
*.pid
*.seed
*.pid.lock

#Directoryforinstrumentedlibsgeneratedbyjscoverage/JSCover
lib-cov

#Coveragedirectoryusedbytoolslikeistanbul
coverage

#nyctestcoverage
.nyc_output

#Gruntintermediatestorage(http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

#Bowerdependencydirectory(https://bower.io/)
bower_components

#node-wafconfiguration
.lock-wscript

#Compiledbinaryaddons(http://nodejs.org/api/addons.html)
build/Release

#Dependencydirectories
node_modules/
jspm_packages/

#Typescriptv1declarationfiles
typings/

#Optionalnpmcachedirectory
.npm

#Optionaleslintcache
.eslintcache

#OptionalREPLhistory
.node_repl_history

#Outputof'npmpack'
*.tgz

#YarnIntegrityfile
.yarn-integrity

#dotenvenvironmentvariablesfile
.env
#CoversJetBrainsIDEs:IntelliJ,RubyMine,PhpStorm,AppCode,PyCharm,CLion,AndroidStudioandWebstorm
#Reference:https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

#User-specificstuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

#Sensitiveorhigh-churnfiles:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

#Gradle:
.idea/**/gradle.xml
.idea/**/libraries

#CMake
cmake-build-debug/

#MongoExplorerplugin:
.idea/**/mongoSettings.xml

##File-basedprojectformat:
*.iws

##Plugin-specificfiles:

#IntelliJ
/out/

#mpeltonen/sbt-ideaplugin
.idea_modules/

#JIRAplugin
atlassian-ide-plugin.xml

#CursiveClojureplugin
.idea/replstate.xml

#Crashlyticsplugin(forAndroidStudioandIntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
